@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "users";
@import "vacations";


.creditsbar {

  background-color: $blue;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;

  h6 {
    margin: 0px;

  }

}
